[flake8]
exclude =
    .git,
    .gitignore,
    *.pot,
    *.py[co],
    __pycache__,
    venv,
    .env,
    setting*,
    apps.py,
    __init__.py,
    migrations*

extend-ignore =
    E501,
    E711